.safe-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}

.safe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.safe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.safe-content {
  padding-top: 180px;
  padding-bottom: 180px;
}

.safe h2 {
  margin-bottom: 32px;
}

.safe p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .safe-bg {
    box-shadow: inset 0 -60px var(--cor-12);
  }
  .safe {
    grid-template-columns: 1fr;
  }
  .safe-content {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0px;
  }
}
