#contact {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contact-data,
.contact-form {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-data {
  border-radius: 5px 0 0 5px;
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 20px left 20px;
}

.contact-form {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0) url("../../img/dec/bottom-right.svg") no-repeat
    bottom 20px right 20px;
}

.contact-data h2 {
  margin-bottom: 60px;
}

.contact-address {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("../../img/contact/place.svg") no-repeat 0px 2px;
}

.contact-address p {
  margin-bottom: 8px;
}

.contact-link a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contact-link a:hover {
  color: var(--cor-0);
}

.contact-link a:first-child {
  background: url("../../img/contact/email.svg") no-repeat 0px 7px;
}

.contact-link a:nth-child(1) {
  margin-bottom: 32px;
}

.contact-link a:nth-child(2) {
  background: url("../../img/contact/phone.svg") no-repeat 0 6px;
  margin-bottom: 60px;
}

.contact-social {
  display: flex;
  gap: 32px;
  padding-left: 28px;
  align-items: center;
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-data,
  .contact-form {
    padding: 20px;
  }
  .contact-data {
    border-radius: 5px 5px 0 0;
    background: var(--cor-12);
  }
  .contact-form {
    border-radius: 0 0 5px 5px;
  }
  .contact-data h2,
  .contact-link a:nth-child(2) {
    margin-bottom: 32px;
  }
  .contact-social {
    margin-bottom: 12px;
  }
}
