.products-bg {
  background-image: linear-gradient(
    to right,
    var(--cor-0) 30%,
    var(--cor-11) 0%
  );
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-image {
  display: grid;
}

.products-image img {
  grid-area: 1/1;
}

.products-image span {
  display: inline-block;
  grid-area: 1/1;
  place-self: end end;
  margin-bottom: 8px;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.products-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.products h2,
.products p {
  grid-column: 1/-1;
}

.products h2 {
  margin-bottom: 20px;
}

.products h2:before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.products p {
  margin-bottom: 32px;
}

.products a {
  place-self: end;
}

.products li {
  display: flex;
  align-items: center;
}

.products ul {
  display: grid;
  gap: 16px;
}

.products-content img {
  margin-right: 8px;
}

#footer {
  padding-bottom: 120px;
}

@media (max-width: 800px) {
  .products-bg {
    background: var(--cor-11);
  }
  .products {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .products-content {
    grid-template-columns: 1fr;
  }
  .products ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .products a {
    place-self: start;
  }
}
